#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirror.vcu.edu/pub/gnu_linux/centos/7/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Y6GKFG8FFPmVo.GQ$ngLy7qknf2vEzDFp7Ecyy9qrO97MQQYnBHdReLKjVljNmMDEMx.BZ4aFd68A/4toV9AC93VLl/TYv3sFCKGU71
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=ravioli --password=$6$klrROg6UcxWL5/6j$hYSQ1FOe54kcc57Z66jCuHWoEFh.692W9QCEjrQA7E2c9oRtNxUzt90uuXgE0E3wa0YlnPhnUslC4hPwxUME71 --iscrypted --gecos="ravioli"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
